* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  padding: 20px;
  background: #fbfaf9;
}


.header {
  padding: 30px;
  text-align: center;
  background: #17a6ed;
}

.header h1 {
  font-size: 50px;
}


.topnav {
  background-color: #9BA0A5;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


.topnav a {
  float: left;
  display: block;
  color: #FAFBFC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid white;
}

.topnav a:last-child {
  border-right: none;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}



