<!DOCTYPE html>
<html>
<head>
  <link rel="style" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="header">
  <h1>Home Health Services Analysis</h1>
</div>

<div class="topnav">
  <a href="index.html"><b>Home page</b></a>
  <a href="data.html"><b>National Level Data Analysis</b></a>
  <a href="anaylsis.html"><b>State Level Data Analysis</b></a>
</div>
   

    <!-- Include your custom JavaScript code -->
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>
</html>