<!DOCTYPE html>
<html lang="en">
  
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="header">
  <h1>Home Health Services Analysis</h1>
</div>

<div class="topnav">
  <a href="/index"><b>Home page</b></a>
  <a href="/data"><b>National Level Data Analysis</b></a>
  <a href="/analysis"><b>State Level Data Analysis</b></a>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Home Health Dashboard</h3>
        <p>Interactive Charts To Analyze Home Health Data</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>State ID:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demographic Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div> 
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="line"></div>
      </div>
    </div>
  </div>


    <!-- Include your custom JavaScript code -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='js/logic2.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>